body{
            margin: 0;
            padding: 0;
            box-sizing: border-box;
            display: flex;
            justify-content: center;
            align-items: center;
            text-align: center;
            margin-top: 100px;
            
        
        }
        .whack-a-mole{
            
            height: 500px;
            width: 25%;
            max-width: 500px;
            min-width: 250px;
            background-color: bisque;
             padding: 10px 50px;
             border-radius: 10px;
        }
        .grid-container{
            display: grid;
            grid-template-columns: repeat(3,1fr);
            column-gap: 5px;
            row-gap: 5px;
            margin-bottom:30px ;
            
        }
        .box{
            height: 80px;
            width: 100%;
            font-size: 60px;
            display: flex;
           
            justify-content: center;
            align-items: center;
            border: none;
            border-radius: 10px;
            background-color: rgba(110, 125, 172, 0.9);
            background-size: cover;
            background-repeat: no-repeat;
            background-size: 270px;
            background-position: center;
            cursor: pointer;
            
        }
        #start{
            height: 40px;
            width: 85px;
            border: 1px solid black;
            border-radius: 5px;
            font-size: 15px;
            background-color: rgb(130, 213, 224);
            color:black;
            font-weight: 600;
            margin-right: 10px;
            cursor: pointer;
        }
         #restart{
            height: 40px;
            width: 85px;
            border: 1px solid black;
            border-radius: 5px;
            font-size: 15px;
            background-color: rgb(130, 213, 224);
            color:black;
            font-weight: 600;
            cursor: pointer;
        }